include ../icons/icon-eye-closed.pug
include ../icons/icon-eye-open.pug

mixin pass-input({label, size='m', placeholder, className, forceAlert})
    - var classes = size + ' ' + className;
    - var inputForceClass = forceAlert ? 'pass-input__input_force-alert' : ''

    .pass-input.js-pass-input-node(class=classes)
        if label
            .pass-input__label= label
        .pass-input__input-wrapper
            input.pass-input__input.js-pass-input(class=inputForceClass type="password" placeholder=placeholder)
            button.pass-input__show.js-pass-input-show(type="button")
                +icon-eye-closed('pass-input__icon js-pass-input-icon-closed')
                +icon-eye-open('pass-input__icon pass-input__icon_open js-pass-input-icon-open hidden')
        if forceAlert
            .text-input__force-alert= forceAlert
